@font-face {
  font-family: 'Libre Baskerville';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/librebaskerville/v14/kmKnZrc3Hgbbcjq75U4uslyuy4kn0qNXaxMaC82U-ro.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

header{
  font-family: Trebuchet MS, sans-serif;
  text-align: center;
  font-size: 24px;
  color: white;
  background-color: hsl(53, 73%, 78%);
  padding: 15px;
}

.pageHeader{
  background-color: rgb(161, 202, 200);
  padding: 45px;
  padding-top: 1.5em;
  font-size: 1.9em;
  font-family: Trebuchet MS, sans-serif;
  text-align: center;
}

body {
  background-color: #dcefee;
  background-image: url("./images/nyu_logo.png");
  background-size: 125px 125px;
  background-repeat: no-repeat;
  background-position: center 39px;
  background-attachment: fixed;
}

nav {
  display: flex;
  flex-direction: column;
}

#container {
  width: 90%; 
  margin: auto;
  max-width: 1200px;
  padding: 10px;
}

ul.nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.selected {
  background-color: hsl(202, 53%, 81%);
}

#dailyMessage {
  color: hwb(49 39% 9%);
  font-weight: bold;
  font-size: 20px;
  margin: 20px;
  font-family: fantasy;
  padding-top: 20px;
  padding-bottom: 10px;
  margin: 0;
}

#song {
  color: rgb(232, 172, 99);
  font-size: 20px;
  margin: 20px;
  font-family: fantasy;
  padding-top: 20px;
  padding-bottom: 10px;
  margin: 0;
}

@media only screen and (min-width: 480px) {
  ul.nav-list {
    display: flex;
  }

  li.nav-item {
    margin-right: 2%;
  }

}

@media only screen and (min-width: 960px) {
  main > p {
    width: 32%;
  }

  main {
    display: flex;
    justify-content: space-between;
  }

  article, section {
    flex: 1 1 calc(33.333% - 2%);
    margin-right: 2%;
  }

  article:last-child, section:last-child {
    margin-right: 0;
  }

  .image-container-index, .image-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

article {
  padding: 1em;
  padding-bottom: 0;
}

article > p {
  font-size: 1.2em;
  margin-top: 0;
  margin-bottom: 0;
}

footer {
  padding-top: 100px;
  padding-bottom: 10px;
  clear: both;
}

h1, h2, h3 {
  color: #2d2d2d;
  font-family: Helvetica, sans-serif;
  font-size: 1.5em;
}

h4, h4, h6 {
  color: #2d2d2d; 
  font-family: Helvetica, sans-serif;
  font-size: 1.25em;
}

.title {
  padding-top: 1.5em;
  font-size: 1.9em;
}

p, ul {
  color: #2d2d2d;
  font-family: Georgia, serif;
  font-size: 1.2em;
  line-height: 1.4em;
}

#CS-page{
  color: #2d2d2d;
  font-family: Georgia, serif;
  font-size: 0.96em;
  line-height: 1.2em;
}

ul {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

li {
  float: left;
  margin-right: 2%;
}

.image-container-index {
  display: flex;
  justify-content: left;
  padding-top: 30px;
  clear: both;
}

.image-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

#credit {
  font-size: 0.83em;
  text-align: center;
  font-family: 'Libre Baskerville';
  background-color: hsl(292, 14%, 68%);
}

a:link, a:visited {
  color: black;
  text-decoration: underline;
}

a:hover {
  color: black;
  background: #a8c7e0;
}

a:active {
  text-decoration: none;
}

a.heading { 
  text-decoration: none;
}

a.heading:hover { 
  background-color: hsl(46, 68%, 83%);
}

a.heading:active {
  background-color: lightgray;
}

a.dark:link, a.dark:visited {
  color: white;
}

.dark, .dark * {
  color: white; 
}

img {
  max-width: 100%;
  display: block;
  height: auto;
  transition: opacity 500ms;
}

.dark, .dark a, .dark nav ul li a {
  color: #b5b1da; 
}

.dark nav ul li a {
  text-decoration: none;
}

.dark nav ul li a:hover, .dark nav ul li a:active {
  color: hwb(246 71% 7%);
  text-decoration: underline; 
}

.dark nav ul li a:visited {
  color: hsl(247, 33%, 27%);
}

@media (min-width: 768px) {
  #container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  #container {
    grid-template-columns: repeat(3, 1fr);
}
}